# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/dictionaries/project.xml
*.iws
*.iml
*.ipr
# Explicitly ignore Copilot migration tasks
.idea/copilot.data.migration*
# Optional: allow only shared settings
# Uncomment if your team wants to share these
# !.idea/
# !.idea/codeStyles/
# !.idea/codeStyles/*
# !.idea/inspectionProfiles/
# !.idea/inspectionProfiles/*
# !.idea/runConfigurations/
# !.idea/runConfigurations/*

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### My Project Files ###
/scripts/
src/main/resources/application-local.yml
.env
