spring:
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.xml
    enabled: true
  datasource:
    url: jdbc:postgresql://localhost:5432/fleetops
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:}
    # vars for linux as example to run in terminal before starting app:
    # export DB_USERNAME=postgres
    # export DB_PASSWORD='strong_generated_value'
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
            jwk-set-uri: http://localhost:8081/.well-known/jwks.json
        enabled: true # tests override to false to prevent remote JWKS call

server:
  port: 8080

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when_authorized
      probes:
        enabled: true
